* {
    font-family: 'Sigmar One', 'Cousine', 'Roboto', sans-serif;
}

.topnav {
    position: relative;
    margin: 20px;
    /*固定位置*/
    position: fixed;
}

.topnav ul {
    margin: 0;
    padding: 0;
}

.topnav li {
    margin: 0 5px 10px 0;
    padding: 0;
    /*去點點*/
    list-style: none;
    /*直變橫*/
    display: inline-block;
}

.topnav a {
    padding: 3px;
    /*去超連結底線*/
    text-decoration: none;
    /*換超連結顏色*/
    color: #000000;
    line-height: 100%;
}

.topnav a:hover {
    /*滑鼠滑過換超連結顏色*/
    color: #FFAC14;
}

.topnav .current img {
    /*去超連結框*/
    border: 0;
    /*圖百分之40*/
    width: 100%;
}

.topnav .current a {
    /*滑鼠滑過item1*/
    background-color: ;
    color: #000000;
    /*圓角邊筐*/
    border-radius: 20px;
}

.topnav .secondary a {
    font-size: 50px;
}

@media screen and (max-width: 600px) {
    .topnav {
        position: relative;
        min-height: 60px;
    }
    .topnav ul {
        /*>600px 滿版*/
        width: 100%;
        padding: 0;
        /**/
        position: absolute;
        /*貼齊上面*/
        top: 0px;
        /*貼齊左邊*/
        left: 0px;
        border: 1px solid #ddd;
        /*變圓角*/
        border-radius: 20px;
        /*陰影效果*/
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    .topnav li {
        display: none;
        margin: : 0;
    }
    .topnav .current {
        display: block;
    }
    .topnav a {
        display: block;
        padding: 5px 5px 5px 20px;
        text-align: center;
    }
    .topnav .current a {
        color: #000000;
    }
    .topnav ul:hover {
        background: ;
    }
    .topnav ul:hover li {
        display: block;
        margin: 3px;
    }
}
